<h1 align= center><b>SONGS</b></h1>
2021 blockbuster movie like <a href="/maanadu">Maanaadu</a> and <a href="/valimai">Valimai</a><br>
 <audio controls class="center">
   <source src="../assets/09.mp3" type="audio/mp3" >Tamil</audio><br>
   <audio controls class="center">
   <source src="../assets/34.mp3" type="audio/mp3" ></audio><br>
   <audio controls class="center">
   <source src="../assets/Iayyayo.mp3" type="audio/mp3" ></audio><br>
   <audio controls class="center">
   <source src="../assets/123.mp3" type="audio/mp3" ></audio><br>
   <audio controls class="center">
   <source src="../assets/9.mp3" type="audio/mp3" ></audio><br>
   <audio controls class="center">
   <source src="../assets/ngk.mp3" type="audio/mp3" ></audio>
   <div align="center">
   <a href="https://www.youtube.com/watch?v=TpU7V98AE_Y&list=PL3oW2tjiIxvTaC6caIGR55W3ssqGvb_LR">2021 Tamil song</a><br>
   <a href="https://www.youtube.com/watch?v=zk7UQ_a6RiQ">Tamil 2020</a><br>
   <a href="https://www.youtube.com/watch?v=Q3NgBp2CE2s">Tamil 2019</a><br>
<a href="https://www.youtube.com/watch?v=3Tnf9AxEtnc&list=RD3Tnf9AxEtnc&start_radio=1">2018 Tamil songs</a><br></div>
<div align="center">
   <a href="https://tamilmusiq.cc/albums/tamil-yearly-hits.html"><b>Songs Tamil</b></a><br><br></div>
