<br>
<h1 align="center" style="color:red;">WELCOME TO OUR PAGE</h1>
 <table border=1 align="center"  style="border:2px solid mediumseagreen;"><tr></tr>
 USER ID: <input type="text" placeholder="USERID" name="name"/><br><br>
PASSWORD:<input type="password" placeholder="password" name="password"/><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="Login" (click)= "login()"/>&nbsp;&nbsp;&nbsp;
<a href="forgot password">forgot password</a><br>
don't have account?<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/signup">Create an account? </a>
</table><br><br>
