<h1 style="color: magenta;">Top Rated Tamil Movies Of
  <a href="home">2021</a>&nbsp;&nbsp;
  <a href="/toto">2020</a>&nbsp;&nbsp;
  <a href="/to19">2019</a>&nbsp;
  <a href="/to18">2018</a>&nbsp;
  <a href="/to17">2017</a>&nbsp;
  <a href="/to16">2016</a></h1>
    1.<div class="row">
    <img src="../assets/m.jpg" style="width:10%">
    <a href="/maanadu" align="center">Maanaadu</a>
    <li><h4>25 Nov 2021<span> | </span> 2 hrs 28 mins</h4><br>
    <small>|Tamil<span> | </span>Drama<span> | </span>UA</small>
    <p style="width:40%">A muslim man,who is stuck in a time loop,has to stop</p>
    <p *ngIf= "show">
    a political rally from taking place in order to save the CM </p>
    <input type="button" style="color:brown" value="more"(click)="hai()"/><br>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star">3.0</span><br>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <span class="heading">User Rating</span>
    <div class="rate">
      <input type="radio" id="star5" name="rate" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="rate" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>
    <hr style="border:3px solid #f1f1f1"></li>
    </div><br>
  
    <hr>2.
   <div class="row">
     <img src="../assets/v.jpg" style="width:10%">
     <a href="/valimai" align="center">Valimai</a><li>
    <h4>14 Nov 2021<span> | </span> 2 hrs 43 mins</h4><br>
    <small>|Tamil<span> | </span>Drama<span> | </span>UA</small>
     <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star">3.0</span><br>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <span class="heading">User Rating</span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <p>3.0 average based on 303 reviews.</p>
    
    <hr style="border:3px solid #f1f1f1"></li>
    </div><br>
    
    <hr>3.
    <div class="row">
     <img src="../assets/j.jpg" style="width:15%">
     <a href="/jaibheem" align="center">Jaibheem</a>
     <li><h4>02 Nov 2021<span> | </span> 2 hrs 44 mins</h4><br>
    <small>|Tamil<span> | </span>Crime<span> | </span>A</small>
    <p style="width:40%">A tribal woman and a righteous lawyer battle in court to unravel the mystery around </p>
    <input type="button" style="color:brown" value="more"(click)="hi()"/>
    <p *ngIf="new">the disappearance of her husband, who was picked up the police on a false case</p>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>4.0<br>
    <span class="heading">User Rating</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p>4.1 average based on 254 reviews.</p>
<hr style="border:3px solid #f1f1f1">
  </li> </div><br><hr>

4.<div class="row">
  <img src="../assets/k.jpg" style="width:10%">
  <a href="/karnan" align="center">Karnan</a>
  <li><h4>09 Apr 2021<span> | </span> 2 hrs 32 mins</h4><br>
  <small>|Tamil<span> | </span>Drama<span> | </span>UA</small>
  <p style="width:40%">Karnan might seem like a familiar tale of struggle between the oppressed and oppressor, but </p>
  <input type="button" style="color:brown" value="more"(click)="mo()"/>
  <p *ngIf= "movie">
  Mari Selvaraj's detailing makes the film feel both unique and universal at the same time. </p><br>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star">3.0</span><br>
  <span class="heading">User Rating</span>
  <div class="rate">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div><br>
  <hr style="border:3px solid #f1f1f1"></li>
  </div><hr>

  