<h1 style="color: magenta;">Top Rated Tamil Movies Of
  <a href="home">2021</a>&nbsp;&nbsp;
  <a href="/toto">2020</a>&nbsp;&nbsp;
  <a href="/to19">2019</a>&nbsp;
  <a href="/to18">2018</a>&nbsp;
  <a href="/to17">2017</a>&nbsp;
  <a href="/to16">2016</a></h1>
<div class="row">
    <img src="../assets/super.jpeg" style="width:10%">
    <a href="/kkk" align="center">SuperDelex</a>
    <li><h4>28 mar 2019<span> | </span> 2 hrs 47 mins</h4><br>
    <small>|Tamil<span> | </span>Romance<span> | </span>U</small>
    <p style="width:40%">A muslim man,who is stuck in a time loop,has to stop</p>
    <input type="button" style="color:brown" value="more"(click)="hai()"/>
    <p *ngIf= "show">
    a political rally from taking place in order to save the CM </p><br>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star">3.7</span><br>
    <span class="heading">User Rating</span>
    <div class="rate ">
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star2" name="rate" value="1" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="2" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star4" name="rate" value="1" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star5" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>
    <hr style="border:3px solid #f1f1f1"></li>
    </div><br>
    <hr>
    
    2.<div class="row">
        <img src="../assets/kai.jpeg" style="width:15%">
        <a href="/soo" align="center">kaithi</a>
        <li><h4>03 SEP 2019<span> | </span> 2 hrs 38 mins</h4><br>
       <small>|Tamil<span> | </span>Drama<span> | </span>U</small>
       <p style="width:40%">A tribal woman and a righteous lawyer battle in court to unravel the mystery around </p>
       <input type="button" style="color:brown" value="more"(click)="hi()"/>
       <p *ngIf="new">the disappearance of her husband, who was picked up the police on a false case</p>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star"></span>4.4<br>
       <span class="heading">User Rating</span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star"></span>
   <p>4.7 average based on 1984 reviews.</p>
   <hr style="border:3px solid #f1f1f1">
     </li> </div><br><hr>

     3.<div class="row">
        <img src="../assets/vis.jpeg" style="width:15%">
        <a href="/oh" align="center">Viswasam</a>
        <li><h4>14 JAN 2019<span> | </span> 2 hrs 31 mins</h4><br>
       <small>|Tamil<span> | </span>Comedy<span> | </span>U</small>
       <p style="width:40%">A tribal woman and a righteous lawyer battle in court to unravel the mystery around </p>
       <input type="button" style="color:brown" value="more"(click)="hi()"/>
       <p *ngIf="new">the disappearance of her husband, who was picked up the police on a false case</p>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star"></span>3.9<br>
       <span class="heading">User Rating</span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star"></span>
   <p>3.9 average based on 856 reviews.</p>
   <hr style="border:3px solid #f1f1f1">
     </li> </div><br><hr>
     4.<div class="row">
        <img src="../assets/asu.jpeg" style="width:15%">
        <a href="/moo" align="center">Asuran</a>
        <li><h4>08 AGU 2019<span> | </span> 2 hrs 23 mins</h4><br>
       <small>|Tamil<span> | </span>Comedy<span> | </span>U</small>
       <p style="width:40%">A tribal woman and a righteous lawyer battle in court to unravel the mystery around </p>
       <input type="button" style="color:brown" value="more"(click)="hii()"/>
       <p *ngIf="new1">the disappearance of her husband, who was picked up the police on a false case</p>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star checked"></span>
       <span class="fa fa-star"></span>
       <span class="fa fa-star"></span>2.9<br>
       <span class="heading">User Rating</span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star checked"></span>
   <span class="fa fa-star"></span>
   <p>3.2 average based on 394 reviews.</p>
   <hr style="border:3px solid #f1f1f1">
     </li> </div><br><hr>